<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.herion.everyknow.seims.dao.mapper.IndustryTypeMapper">
  <resultMap id="BaseResultMap" type="com.herion.everyknow.seims.dao.entity.IndustryType">
    <!--@mbg.generated-->
    <!--@Table industry_type-->
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    code, `name`
  </sql>
</mapper>