<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.herion.everyknow.seims.dao.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.herion.everyknow.seims.dao.entity.Student">
    <!--@mbg.generated-->
    <!--@Table student-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stu_id" jdbcType="VARCHAR" property="stuId" />
    <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birth_date" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="college_code" jdbcType="VARCHAR" property="collegeCode" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="clazz_id" jdbcType="INTEGER" property="clazzId" />
    <result column="political_status" jdbcType="VARCHAR" property="politicalStatus" />
    <result column="identification_number" jdbcType="BIGINT" property="identificationNumber" />
    <result column="account_type" jdbcType="VARCHAR" property="accountType" />
    <result column="account_location" jdbcType="VARCHAR" property="accountLocation" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="education_background" jdbcType="VARCHAR" property="educationBackground" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="wechat_code" jdbcType="VARCHAR" property="wechatCode" />
    <result column="qq_code" jdbcType="VARCHAR" property="qqCode" />
    <result column="stu_email" jdbcType="VARCHAR" property="stuEmail" />
    <result column="stu_addr" jdbcType="VARCHAR" property="stuAddr" />
    <result column="entry_time" jdbcType="DATE" property="entryTime" />
    <result column="graduation_session" jdbcType="VARCHAR" property="graduationSession" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, stu_id, stu_name, sex, birth_date, college_code, dept_code, clazz_id, political_status, 
    identification_number, account_type, account_location, native_place, education_background, 
    nation, phone, wechat_code, qq_code, stu_email, stu_addr, entry_time, graduation_session
  </sql>
    <insert id="insertBatchSomeColumn" />
</mapper>